<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="server" value="192.168.0.102"/>
      <add key="port" value="5432"/>
      <add key="user" value="user_efservermanager"/>
      <add key="password" value="#us271112002016@"/>
      <add key="database" value="teste"/>
    </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSMSSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://54.173.24.177/painel/ServiceSms.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSMSSoap" contract="LocaSMSSOAP.ServiceSMSSoap" name="ServiceSMSSoap"/>
    </client>
  </system.serviceModel>
</configuration>