<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSMSSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.173.24.177/painel/ServiceSms.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSMSSoap" contract="LocaSMSSOAP.ServiceSMSSoap" name="ServiceSMSSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
